<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="/css/normalize.css" />
	  	<link rel="stylesheet" href="/css/foundation.css" />
		<script src="/js/vendor/custom.modernizr.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript">
			$(function () {
		        $('#container').highcharts({
		        	colors: ['#FF2400','#00308F'],
		            title: {
		                text: "<%= @user %>'s <%= @limit %> <%= @sort %> <%= @type %>s",
		                x: -20 //center
		            },
		            xAxis: {
		            },
		            tooltip: {
		            	crosshairs: true,
		            	formatter: function() {
		            		return "[" + this.y + "]" + '  "' + this.point.name + '"';
						}
		            },
		            yAxis: {
		                title: {
		                    text: 'Karma'
		                },
		                plotLines: [{
		                    value: 0,
		                    width: 1,
		                    color: '#808080'
		                }]
		            },
		            legend: {
		                layout: 'vertical',
		                align: 'right',
		                verticalAlign: 'middle',
		                borderWidth: 0
		            },
		            series: [{
		                name: 'Ups',
		                data: <%= @ups %>
		            }, {
		                name: 'Downs',
		                data: <%= @downs %>
		            }]
		        });
			});
		</script>
		<style>
			body{
				box-sizing:border-box;
				margin-top: 1em;
			}
			form.custom .custom.dropdown {
				vertical-align: middle;
				text-align: center;
				height: 3.6125em;
				padding:0.6em;
			}
			form.custom .custom.dropdown .selector {
				height: 3.5125em;
			}
			form.custom .custom.dropdown ul li {
				padding: 1em;
			}
			input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
				padding: 1.1em;
			}
			textarea {
			    resize: none;
			}
			.postfix {
				padding-top: 0.6em;
				height: 3.550em;
				border:none;
			}
		</style>
	</head>
	<body>
		<form class="custom" form action="/" method="post">
			<div class="row">
				<img src="/img/branding_text-left_big-1018.png" alt="">
			</div>
			<div class="row">
				<hr>
				<div class="large-3 columns">
					<div class="row collapse">
						<div class="small-9 columns">
							<textarea placeholder="redditor" name="user"></textarea>
						</div>
						<div class="small-3 columns">
							<span class="postfix radius">'s</span>
						</div>
					</div>
				</div>
				<div class="large-3 columns">
					<select class="" name="limit">
						<option value="25">25</input>
						<option value="50">50</input>
						<option value="75">75</input>
						<option value="100">100</input>
					</select>
				</div>
				<div class="large-3 columns">
					<select class="" id="customDropdown" name="sort">
						<option value="<%= Sort.top %>">top</input>
						<option value="<%= Sort.newsort %>">newest</input>
						<option value="<%= Sort.hot %>">hottest</input>
						<option value="<%= Sort.controversial %>">most controversial</input>
					</select>
				</div>
				<div class="large-3 columns">
					<select class="" name="type">
						<option value="<%= Type.submitted %>">submitted</input>
						<option value="<%= Type.comments %>">comments</input>
						<option value="<%= Type.overview %>">links and comments</input>
					</select>
				</div>
			</div> <!--row-->
			<div class="row">
				<div class="column">
					<input type="submit" class="large button expand" value="Generate">
				</div>
				<hr>
			</div>
		</form>
		<div class="row">
			<div class="large-12 colums">
				<script type="text/javascript" src="/js/highcharts.js"></script>
				<div id="container" style="min-width: 100%; min-height: 95%; margin: 0 auto"></div>
			</div>
		</div>
		<script>
		  document.write('<script src=/js/vendor/'
		    + ('__proto__' in {} ? 'zepto' : 'jquery')
		    + '.js><\/script>');
		</script>
		<script src="/js/foundation.min.js"></script>
		<script>
		  $(document).foundation();
		</script>
	</body>
</html>