<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="/css/normalize.css" />
	  	<link rel="stylesheet" href="/css/foundation.css" />
	  	<link rel="stylesheet" href="/css/main.css" />
		<script src="/js/vendor/custom.modernizr.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript">
			$(function () {
		        $('#container').highcharts({
		        	colors: ['#FF2400','#00308F'],
		            title: {
		                text: "<%= @user %>'s <%= @limit %> <%= @sort_pretty %> <%= @type_pretty %>",
		                x: -20 //center
		            },
		            xAxis: {
		            },
		            tooltip: {
		            	crosshairs: true,
		            	formatter: function() {
		            		return "[" + this.y + "]" + '  "' + this.point.name + '"';
						}
		            },
		            yAxis: {
		                title: {
		                    text: 'Karma'
		                },
		                plotLines: [{
		                    value: 0,
		                    width: 1,
		                    color: '#808080'
		                }]
		            },
		            legend: {
		                layout: 'vertical',
		                align: 'right',
		                verticalAlign: 'middle',
		                borderWidth: 0
		            },
		            series: [{
		                name: 'Ups',
		                data: <%= @ups %>
		            }, {
		                name: 'Downs',
		                data: <%= @downs %>
		            }]
		        });
			});
		</script>
		<style>
		</style>
	</head>
	<body>
		<form class="custom" form action="/" method="post">
			<div class="row">
				<a href="/"><img src="/img/branding_text-left_big-1018.png" alt="" /></a>
			</div>
			<div class="row">
				<hr>
				<div class="large-3 columns">
					<div class="row collapse">
						<div class="small-9 columns">
							<!--<textarea placeholder="redditor" name="user"><%= @user %></textarea>-->
							<input type="text" placeholder="redditor" name="user" class="redditor"></input>
						</div>
						<div class="small-3 columns">
							<span class="postfix radius">'s</span>
						</div>
					</div>
				</div>
				<div class="large-3 columns">
					<select class="" name="limit">
						<option value="25">25</input>
						<option value="50">50</input>
						<option value="75">75</input>
						<option value="100">100</input>
					</select>
				</div>
				<div class="large-3 columns">
					<select id="sort" name="sort">
						<option <%= Sort.top %>>top</input>
						<option <%= Sort.newsort %>>newest</input>
						<option <%= Sort.hot %>>hottest</input>
						<option <%= Sort.controversial %>>most controversial</input>
					</select>
				</div>
				<div class="large-3 columns">
					<select id="type" name="type">
						<option <%= Type.submitted %>>links</input>
						<option <%= Type.comments %>>comments</input>
						<option <%= Type.overview %>>links and comments</input>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="column">
					<input type="submit" class="large button expand" value="Generate graph">
				</div>
				<hr>
			</div>
		</form>
		<%= yield %>
		<script>
		  document.write('<script src=/js/vendor/'
		    + ('__proto__' in {} ? 'zepto' : 'jquery')
		    + '.js><\/script>');
		</script>
		<script src="/js/foundation.min.js"></script>
		<script>
		$(document).foundation();
		</script>
	</body>
</html>